body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 15px;
    width: 100%;
    background-color: #f7f3e9;
}

p{
    font-size: 200%;
    text-align: left;
    border-bottom: 5px solid #f05945;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

#uname{
    border-width: 1px;
    background-color: #7abed1;
    font-weight: 300;
    font-size: 100%;
}

textarea{
  margin: 10px 3%;
  width: 60%;
  height: 100px;
  font-size: 120%;
  background-color: #7abed1;
  font-weight: 500;
}