body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    width:100%;
    font-family: "しろくまフォント";
}
header{
    background-color: #fff;
    text-align: left;
    color: #E86560;
    font-size: 25px;
}

h1{
    font-size: 150%;
    float: left;
    margin: 4% 0px 10px 30px;
}

#ex{
    font-size: 70%;
    float: right;
    text-align: right;
    margin-right: 25px;
}

main{
    width: 100%;
    display: block;
    position:relative;
}

footer{
    background-color: #FFF;
    text-align: center;
}

p{
    text-align: center;
    height:110px;
}

ul{
    padding: 0;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:96%;
    font-size: 80%;
    margin: 0 3%;
    text-align: center;
}

li{
    list-style-type:none;
    border: 1px solid #FBE55C;
    background-color: #fff;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    color:#0d7dfd;
    padding: 10px;
    text-align: center;
}

li:hover{
    background: #E86560;
    color:#fff;
}

textarea{
  margin: 20px 3%;
  width: 95%;
  height: 100px;
  font-size:80%;
  background-color: #FFFBCB;
}

#key{
    margin:0 3%;
    width: 95%;
    font-size:80%;
    background-color: #57D1C9;
    box-shadow: 3px 3px 3px 3px #555;
}

table{
    margin: 30px 3%;
    border:1px solid #8dc3f5;
    width:96%;
    
}

th{
    width:20%;
    height: 100%;
    font-size: 50px;
    background-color:#69B5D5;
    border-bottom: 1px solid #8dc3f5;
    text-align: center;
}

td{
    font-size:30px;
    background-color:#FFFBCB;
    border-bottom: 1px solid #8dc3f5;
    font-family: 'Courier New', Courier, monospace;
}
